body {
	background-image: url(/images/ok7.jpg);
	background-size: cover;
	background-color: #212121;
}

#navbar {
	justify-content: space-between;
}

#loginCont {
	max-width: 560px;
}

#homeCont {
	max-width: 820px;
}

.text-muted {
	float: right;
}



